*, ::before, ::after {
  box-sizing: border-box;
  transition: all .3s ease-in-out;
}

::-moz-selection {
  background-color: white;
  color: black;
}
::selection {
  background-color: white;
  color: black;
}

html, body {
  background-color: #18191C;
  color: #FFF;
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  margin: 0;
  overflow-x: hidden;
  width: 100vw;
}

/**
 * Header
 */
header {
  height: 50px;
}
header div {
  position: relative;
  display: inline-block;
  float: left;
  height: 100%;
  line-height: 50px;
}
#back-to-home {
  width: 50px;
  text-align: center;
}
#back-to-home a {
  padding: 17px;
}
#back-to-home a:hover {
  padding: 17px;
  filter: brightness(150%);
}
