*, ::before, ::after {
  box-sizing: border-box;
  transition: all .3s ease-in-out;
}

::-moz-selection {
  background-color: white;
  color: black;
}
::selection {
  background-color: white;
  color: black;
}

html, body {
  background-color: #18191C;
  color: #FFF;
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  margin: 0;
  overflow-x: hidden;
  width: 100vw;
}
